<footer class="sticky-footer">
    <div class="footer-content">
      <div id="copyright-container">
        <span id="copyright">©</span>
        <span>Team Humanos</span>
      </div>

      <div id="copyright-desktop">
        © 2025 - Smart Career Tools - Diseñado para pasar filtros
      </div>

      <nav class="footer-links">
        <div id="contact-toggle-container">
          <a id="contact-toggle">
            <span class="contact-text">Contacto</span>
          </a>
        </div>
      </nav>
    </div>
  </footer>