<header id="header">
  <div id="nav-container">
    <a href="/index.html" id="logo-link">
      <img id="logo" src="/img/logo.png" alt="Smart Career Tools logo">
      <h1 id="title">Smart Career Tools</h1>
    </a>
    <nav id="nav">
      <a href="/descargas/">Descargas</a>
      <a href="/blog/">Blogs</a>
      <a href="https://sheetsresumecom.sjv.io/DyDLMq">Escanea tu CV</a>
      <a href="https://sheetsresume.com/r/smart-career-tools" class="primary-btn" target="_blank" rel="noopener noreferrer">Crea tu CV</a>
    </nav>
    <button id="hamburger-button" aria-label="Abrir menú" aria-expanded="false">
      <span class="icon hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </span>
      <span class="icon close">
        <span class="bar"></span>
        <span class="bar"></span>
      </span>
    </button>
  </div>
</header>