<header id="header">
    <div id="nav-container">

      <div id="main-logo">
        <a href="/index.html" id="logo-link">
          <img id="logo" src="/img/logo.png" alt="Smart Career Tools logo">
          <h1 id="title">Smart Career Tools</h1>
        </a>
      </div>

      <!-- Navegación desktop -->
      <nav id="nav">
        <a href="https://sheetsresumecom.sjv.io/DyDLMq">Escanea tu CV</a>
        <a href="/blog/">Blog</a>
        <a href="https://sheetsresume.com/r/smart-career-tools" target="_blank" rel="noopener noreferrer">
          Sheetsresume.com
        </a>
      </nav>

      <!-- Botón hamburguesa -->
      <button
        id="hamburger-button"
        aria-label="Abrir menú"
        aria-expanded="false">

        <!-- Icono hamburguesa -->
        <span class="icon hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </span>

        <!-- Icono X -->
        <span class="icon close">
          <span class="bar"></span>
          <span class="bar"></span>
        </span>

      </button>

      <!-- Overlay -->
      <div id="menu-overlay"></div>

    </div>
  </header>